/* リセットCSS */
body {
  font-family: serif;
  font-size: 14px;
  color: black;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  height: 75px;
  background-color: #003366;
}

.header-left {
  width: 40%;
  float: right;
  padding-left: 3%;
}

.brand {
  width: 80%;
}

.main {
  width: 100%;
  margin: 20px auto;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image1, .image2, .image3, .image4 {
  width: 450px;
  height: 340px;
  margin: 20px 20px;
  opacity: 0.7;
}

.top-image1, .top-image2, .top-image3, .top-image4 {
  position: relative;
}

.image1-txt, .image2-txt, .image3-txt, .image4-txt {
  position: absolute;
  top: 45%;
  left: 30%;
  color: white;
  font-weight: bold;
  font-size: 280%;
}

.background {
  display: flex;
  width: 650px;
  margin: 10% auto 3% auto; 
}

.prof1 {
  width: 350px;
  height: 400px;
  flex: 0.5;
  display: block;
}

.profile1 {
  margin-left: 5%;
  margin-bottom: 5%;
  flex: 1.3;
  margin-top: 20px;
}

.title1 {
  height: 60px;
  margin-bottom: 5%;
  /* display: flex;
  justify-content: center; */
}

.contents {
  text-align: center;
}

.contents p {
  white-space: nowrap;
  /* text-align: left; */
  font-size: 200%;
  display: inline-block;
}

.contents h4, .contents h3 {
  font-size: 200%;
  margin-top: 5%;
  /* text-align: left; */
  margin-bottom: 3%;
}

.title2 {
  height: 60px;
  margin-top: 10%;
  margin-left: 10%;
}

.background2 {
  margin-left: 6%;
}

.profile2 {
  margin-top: 40px;
  margin-bottom: 10%;
  text-align: center;
}

.profile2 h2 {
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: bold;
  font-size: 200%;
  white-space: nowrap;
}

.profile1 p, .profile2 p {
  font-size: 150%;
  white-space: nowrap;
  text-align: left;
}

.profile1 p {
  width: 165px;
  margin-right: initial;
}

.profile2 p {
  display: inline-block;
  margin-right: 5%;
}

@media screen and (max-width: 599px) {
  body {
    font-size: 6px;
  }

  header {
    height: 25px; 
  }

  .main {
    margin: initial;
  }

  .image1, .image2, .image3, .image4 {
    width: 180px;
    height: 150px;
    flex-wrap: wrap;
    margin: 5px;
  }

  .image1-txt, .image2-txt, .image3-txt, .image4-txt {
    position: absolute;
    top: 45%;
    left: 30%;
    font-size: 200%;
  }
  
  .top-wrapper {
    width: 100%;
  }

  .background {
    width: 90%;
/*     margin: initial;
    margin-top: 5%;
    margin-left: 5%; */
  }

  .background p {
    margin: initial;
  }

  .prof1 {
    width: 150px;
    height: 200px;
  }

  .title1, .title2 {
    height: 25px;
  }

  .contents p {
    font-size: 60%;
  }

  .background2 {
    margin-bottom: 10%;
  }

  .profile2 {
    margin: initial;
  }

  .profile2 h2 {
    margin-bottom: 4%;
    font-size: 280%;
  }
    
}
