/* リセットCSS */
body {
  font-family: serif;
  font-size: 14px;
  color: black;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  height: 75px;
  background-color: #003366;
}

.header-left {
  width: 40%;
  float: right;
  padding-left: 3%;
}

.brand {
  width: 80%;
}

.aims {
  margin: 10% auto 0;
  display: flex;
  justify-content: center;
  
  
}

.aim {
  text-align: left;
  border: 1px solid black;
  padding: 5% 5%;
  display: inline-block;
}

.aim p {
  white-space: nowrap;
  font-size: 155%;
}

.last {
  margin-bottom: 5%;
}

.plus {
  margin-top: 10%;
  text-align: center;
}

.last p {
  display: block;
  display: flex;
  justify-content: center;
  font-size: 170%;
  margin-top: 3%;
  
}

.photos {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}

.photo {
  width: 450px;
  height: 340px;
  margin: 20px 20px;
}


/* レスポンシブ携帯 */
@media screen and (max-width: 599px) {
  header {
    display: flex;
    width: 100%;
    height: 25px;
    background-color: #003366;
  }
  
  .aim {
    width: 599px;
  }
  
  .aim h1 {
    white-space: nowrap;
    font-size: 60%;
    display: inline-block;
  }
  
  .aim p {
    font-size: 60%
  }

  .last p {
    font-size: 60%;
  }

  .photos {
    width: 599px;
  }

  .photo {
    width: 225px;
    height: 170px;
    margin: 10px 10px;
  }

}
